DJANGO_SECRET_KEY=l_w8jrl!+v7#2&&5*b-m6s!j1*$-a$)1_+mq!#q(p4bm@gifp1
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

MONGO_URI=mongodb://127.0.0.1:27017/
MONGO_DB_NAME=Foundy-Waitlist
MONGO_WAITLIST_COLLECTION=waitlist

MONGO_ROOT_USERNAME=foundy
MONGO_ROOT_PASSWORD=foundy_password

FRONTEND_ORIGIN=http://localhost:5173
